<div>
  <form method="POST" action='/menu_items/update/<%= @menu_item.id %>'> 
      
      <p> <%= @menu_item.name %>
      <input name="name" value="<%= @menu_item.name %>"><br>
      <input type="submit">
      
      <p> <%= @menu_item.description %>
      <input name="description" value="<%= @menu_item.description %>"><br>
      <input type="submit">
      
      <p> <%= @menu_item.price %>
      <input name="price" value="<%= @menu_item.price %>"><br>
      <input type="submit">
      
      <p> <%= @menu_item.meal_type %>
      <input name="meal_type" value="<%= @menu_item.meal_type %>"><br>
      <input type="submit">
        </form>

  <form method="POST" action="/menu_items/delete/<%= @menu_item.id %>">
      <input type="submit" value="delete">
  </form>
</div>