<%# This will need a post with post id to work%>
<% @comments.each do |comment| %>
  <table style="width:100%">
    <tr>
      <th>Author</th>
      <th>Comment</th>
      <th>Upvotes</th>
      <th>Downvotes</th>
    </tr>
    <tr>
      <td><%= comment.author %></td>
      <td><%= comment.body %></td>
      <td><a href='/post/<%= @post.id %>/comments/<%= comment.gen_id %>/upvote'><%= comment.upvotes %></a></td>
      <td><a href='/post/<%= @post.id %>/comments/<%= comment.gen_id %>/downvote'><%= comment.downvotes %></a></td>
    </tr>
  </table>
<% end %>