<%= erb :header %>
 
<div>
  <form method='POST' action='/posts/update/<%= @post.id %>'> 
      
      <p> Title </p> 
      <input name="title" value="<%= @post.title %>"><br>
      
      <p> Body </p> 
      <input name="body" value="<%= @post.body %>"><br>
            <input type="submit">
  </form>

  <form method='POST' action='/posts/delete/<%= @post.id %>'>
      <input type="submit" value="delete">
  </form>
</div>

<%= erb :footer %>