<%= erb :header %>

<h1>Index of Posts</h1>
    <% @posts.each do |post| %>
        <h3><a href="/posts/<%= post.id %>"><%= post.id %></a></h3>
        <ul>
        
            <li>title: <%= post.title %></li>
        
            <li>body: <%= post.body %></li>
        
        </ul>
<% end %>

<%= erb :footer %>