<%%= erb :header %>
 
<div>
  <form method='POST' action='/<%= @name_plural %>/update/<%%= @<%= @name_singular %>.id %>'> 
      <% @attributes.each do |attribute| %>
      <p> <%= attribute.capitalize %> </p> 
      <input name="<%= attribute %>" value="<%%= @<%= @name_singular %>.<%= attribute %> %>"><br>
      <% end-%>
      <input type="submit">
  </form>

  <form method='POST' action='/<%= @name_plural %>/delete/<%%= @<%= @name_singular %>.id %>'>
      <input type="submit" value="delete">
  </form>
</div>

<%%= erb :footer %>