<%%= erb :header %>
 
<div>
  <form method='POST' action='/<%= @name_plural %>/update/<%%= @<%= @name_singular %>.id %>'> 
      <% @attributes.each do |attribute| %>
        <% if attribute.is_a? Hash -%>
        <p> <%= attribute.keys[0].to_s.capitalize %> </p> 
        <input name="<%= attribute.keys[0].to_s %>" value="<%%= @<%= @name_singular %>.<%= attribute.keys[0].to_s %> %>"><br>
        <% else -%>
        <input name="<%= attribute %>" value="<%%= @<%= @name_singular %>.<%= attribute %> %>"><br>
        <% end-%>
      <% end-%>
      <input type="submit">
  </form>

  <form method='POST' action='/<%= @name_plural %>/delete/<%%= @<%= @name_singular %>.id %>'>
      <input type="submit" value="delete">
  </form>
</div>

<%%= erb :footer %>