 <%%= erb :header %>

<h1><%= @name_plural.capitalize %></h1>
    <%% @<%= @name_plural %>.each do |<%= @name_singular %>| %>
        <li><a href="/<%= @name_plural %>/<%%= <%= @name_singular %>.id %>"><%%= <%= @name_singular %>.id %></a></li>
        <ul>
        <% @attributes.each do |attribute| %>
            <li><%= attribute %>: <%%= <%= @name_singular %>.<%= attribute %> %></li>
        <% end %>
        </ul>
    <%% end %>
</ul>

 <%%= erb :footer %>