<%%= erb :header %>

<div>
  <h1>New <%= @name_singular.capitalize %></h1>
  <form method='POST' action='/<%= @name_plural %>/create'>
  <% @attributes.each do |attribute| %>
    <% if attribute.is_a? Hash -%>
      <p><%= attribute.keys[0].to_s.capitalize %>:
      <% if attribute.value? "textarea" -%>
        <textarea name='<%= attribute.keys[0].to_s %>'><br>
        <% end -%>
      <% else -%>
      <input name='<%= attribute %>'><br>
      <% end -%>
  <% end -%>
        <input type='submit'>
    </form>
</div>

<%%= erb :footer %>