<div>
  <form method="POST" action='/resturants/update/<%= @resturant.id %>'> 
      
      <p> <%= @resturant.name %>
      <input name="name" value="<%= @resturant.name %>"><br>
      <input type="submit">
      
      <p> <%= @resturant.location %>
      <input name="location" value="<%= @resturant.location %>"><br>
      <input type="submit">
      
      <p> <%= @resturant.manager %>
      <input name="manager" value="<%= @resturant.manager %>"><br>
      <input type="submit">
        </form>

  <form method="POST" action="/resturants/delete/<%= @resturant.id %>">
      <input type="submit" value="delete">
  </form>
</div>